$font-1: "Open Sans", arial, sans-serif;
$font-2: "Open Sans Bold", arial, sans-serif;

$font-size-0: 13px;
$font-size-1: 15px;
$font-size-2: 17px;
$font-size-3: 19px;
$font-size-4: 25px;
$font-size-5: 27px;
$font-size-6: 43px;

$text-color-1: #010000;
$text-color-2: #ffffff;
$text-color-3: #444444;
$text-color-4: #63d1bb;

$bg-color-1: #f9f9f9;
$bg-color-2: #f1f1f1;

$border-color: #ececec;
$border-color--btn: #444444;

$tablet-width: 690px;
