@media (min-width: $tablet-width) {
  .catalogue {
    display: flex;
    flex-wrap: wrap;
    @include padding-tablet;
  }
}

@media (min-width: $desktop-width) {
  .catalogue {
    justify-content: space-between;
    @include padding-desktop;
  }
}
