.field-text__items {
  margin-bottom: 40px;
}

.field-text__item {
  display: block;
  margin-top: 20px;
  margin-bottom: 25px;
}

.field-text__text {
  display: block;
  font-size: $font-size-2;
  line-height: 17px;
  font-weight: bold;
}

.field-text__input {
  width: 100%;
  padding: 15px 0;

  font-size: $font-size-2;
  line-height: 17px;

  border-bottom: 2px solid #000000;
}

.field-text__input::placeholder {
  font-size: $font-size-2;
  line-height: 18px;
  color: #d2d2d2;
}

.field-text__input--tel {
  background: url("../img/phone-icon.png") no-repeat 95% center;
}

.field-text__input--email {
  background: url("../img/email-icon.png") no-repeat 95% center;
}

@media (min-width: $tablet-width) {
  .field-text {
    flex-wrap: wrap;
  }

  .field-text__items {
    width: 75%;
    margin: 0;
  }

  .field-text__item {
    display: flex;
    align-items: center;
    margin-top: 0;
  }

  .field-text__text {
    margin-right: 25px;
  }

  .field-text__item--contact {
    width: 100%;
    margin-top: 0;
  }

  .field-text__input {
    padding-left: 20px;
  }

}
