.goods {
  max-width: 80vw;
  @include padding;
  padding-top: 25px;
  padding-bottom: 40px;

  background: url("../img/zigzag-line.svg") bottom repeat-x;
  background-size: auto 5px;
}

.goods__title {
  margin-bottom: 5px;
  font-size: $font-size-4;
  line-height: 30px;
}

.goods__subtitle {
  margin-bottom: 25px;

  color: $text-color-4;
  font-size: $font-size-2;
  line-height: 20px;
  text-transform: uppercase;
}

.goods__text {
  font-size: $font-size-1;
  line-height: 24px;
  color: $text-color-3;
}

.goods__text--bold {
  margin-top: 27px;
  margin-bottom: 25px;

  font-size: $font-size-2;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.goods__table {
  width: 100%;
  margin: 20px 0;
}

.goods__row {
  border-bottom: 1px solid $border-color;
}

.goods__value,
.gods__field {
  padding: 7px 0;
}

.goods__img {
  display: block;
  width: 260px;
  min-height: 315px;
  margin: 0 auto;
  margin-bottom: 20px;

  background-color: #f1f1f1;
}

.goods__btn {
  display: block;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    max-width: none;
    margin: 0;
    @include padding-tablet;

    background-size: auto 15px;
  }

  .goods__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .goods__title {
    margin: 0;
    margin-bottom: 50px;
    font-size: $font-size-6;
  }

  .goods__subtitle {
    width: 120px;
    margin: 0;
    text-align: center;
  }

  .goods__description {
    width: 40%;
  }

  .goods__img {
    width: 334px;
    margin: 0;
  }

  .goods__text--bold {
    margin-top: 100px;
  }

  .goods__btn {
    width: 40%;
    margin: 0;
    margin-top: -55px;
  }
}

@media (min-width: $desktop-width) {
  .goods {
    @include padding-desktop;
    padding-bottom: 80px;
  }

  .goods__title {
    font-size: $font-size-7;
  }

  .goods__description {
    width: 30%;
  }

  .goods__img {
    width: 525px;
    margin: 0;
  }

  .goods__text--bold {
    margin-top: 325px;
  }

  .goods__btn {
    width: 30%;
    margin: 0;
    margin-top: -55px;
  }
}
