.goods {
  @include padding;
  padding-top: 25px;
  padding-bottom: 40px;

  background: url("../img/zigzag-line.svg") bottom repeat-x;
  background-size: auto 5px;
}

.goods__title {
  margin-bottom: 5px;
  font-size: $font-size-4;
  line-height: 30px;
}

.goods__subtitle {
  margin-bottom: 25px;

  color: $text-color-4;
  font-size: $font-size-2;
  line-height: 20px;
  text-transform: uppercase;
}

.goods__text {
  font-size: $font-size-1;
  line-height: 24px;
  color: $text-color-3;
}

.goods__text--bold {
  margin-top: 27px;
  margin-bottom: 25px;

  font-size: $font-size-2;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.goods__table {
  width: 100%;
  margin: 20px 0;
}

.goods__row {
  border-bottom: 1px solid $border-color;
}

.goods__value,
.gods__field {
  padding: 7px 0;
}

.goods__img {
  display: block;
  width: 260px;
  min-height: 315px;
  margin: 0 auto;
  margin-bottom: 20px;

  background-color: #f1f1f1;
}

.goods__btn {
  display: block;
  text-align: center;
}
