.reviews {
  padding-bottom: 50px;

  background: url("../img/zigzag-line.svg") bottom repeat-x;
  background-size: auto 5px;

  color: $text-color-3;
  overflow-x: hidden;
}

.reviews__inner {
  overflow-x: hidden;
}

.reviews__inner--nojs {
  overflow-x: scroll;
}

.reviews__title {
  @include padding;
  margin-top: 5px;
  font-size: 25px;
  line-height: 30px;
}

.reviews__list {
  display: flex;
  width: 300%;
  transition-duration: 1s;
}

.reviews__controls {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  @include padding;
}

.reviews__arrow {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 37px;
  border: 1px solid $border-color;
}

.reviews__arrow:first-child {
  border-right: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    padding-top: 50px;
    padding-bottom: 70px;
    background: url("../img/review.jpg") no-repeat top left;
  }

  .reviews__title {
    margin-bottom: 30px;
    @include padding-tablet;
    font-size: $font-size-6;
  }

  .reviews__controls {
    position: absolute;
    right: 7%;
    bottom: 30px;
    padding: 0;
  }

  .reviews__arrow {
    border: none;
    padding: 10px;
  }

  .reviews__btn {
    position: absolute;
    top: 33px;
    right: 7%;
    width: 170px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__title {
    font-size: $font-size-7;
  }

  .reviews__inner--nojs {
    overflow: visible;

    .reviews__list {
      display: block;
      width: 100%;
    }
  }

  .reviews__inner--nojs + .reviews__controls {
    display: none;
  }
}
