.wrapper {
  position: relative;
  max-width: 425px;
  margin: 0 auto;

  font-family: $font-1;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .wrapper {
    max-width: 990px;
  }
}
